# Dependencies
node_modules/

# Environment files

# Prisma
prisma/migrations/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
dist/
build/

# Coverage
coverage/


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
